.link{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    background-color:rgb(227, 178, 178);
    text-decoration: none;
    padding: 14px 0px;
    text-align: center;
    }

.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}